body {
    font-size: 18px;
}

h1 {
    text-align: center;
}

.topic {
    font-size: 40px;
}

*{
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }
    .topic {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    body {
        font-size: 10px;
    }
    .topic {
        font-size: 20px;
    }
}